@media (max-width: 768px) {
    header{
        .header-content{
            .header-top{
                display: none;
            }
            .header-main{
                .header-main-content{
                    width: 696px;
                    .burger-menu-button{
                        display: block;
                    }
                    .search-bar{
                        display: none;
                    }
                    .header-location{
                        display: none;
                    }
                    .header-action{
                        li{
                            a{
                                display: none;
                            }
                        }
                        .resp-li{
                            display: none;
                        }
                    }
                }
            }
            .header-nav{
                display: none;
            }
        }
    }
    main{
        width: 696px;
        margin: 0 auto;
        aside{
            display: none;
        }
        .main-column{
            .hero-section{
                width: 696px;
                .hero-section-text{
                    width: 395px;
                    section{
                        h1{
                            font-size: 46px;
                        }
                        h5{
                            font-size: 22px;
                        }
                    }
                }
            }
            .featured-categories-container{
                display: flex;
            }
            .product-section{
                .product-nav{
                    flex-direction: column;
                    align-items: flex-start;
                    gap: 10px;
                    h3{
                        font-size: 28px;
                    }
                    nav{
                        li{
                            a{
                                font-size: 14px;
                            }
                        }
                    }
                }
                .products-container{
                    .product{
                        width: 216px;
                        height: 420px;
                        /* box-shadow: 1px 1px 1px 1px rgb(0 0 0 / 12%); */
                        img{
                            width: 164px;
                            height: 164px;
                        }
                        .product-content{
                            display: flex;
                            flex-direction: column;
                            gap: 24px;
                            width: 184px;
                        }
                    }
                    .resp-product{
                        display: flex;
                    }
                }
            }
        }
    }
    .deals-of-day{
        display: flex;
    }
    .daily-best-sells{
        display: flex;
    }
    .top-trending-product{
        display: flex;
    }
    .newsttler{
        width: 696px;
        margin: 0 auto;
        padding-bottom: 484px;
        .newsttler-content{
            height: 417px;
            align-items: center;
            position: relative;
            .newsttler-text{
                h3{
                    font-size: 40px;
                    p{
                        font-size: 18px;
                    }
                }
            }
            img{
                position: absolute;
                bottom: 0;
                right: 45px;
                width: 278px;
                height: 151px;
            }
        }
    }
    .featured-boxes-container{
        display: flex;

    }
    footer{
        width: 696px;
        padding-top: 50px;
        .footer-info{
            padding-top: 20px;
            .social-media{
                .links{
                    justify-content: flex-end;
                }
            }
            .contact{
                display: none;
            }
        }
    }
    .email{
        button{
            font-size: 16px;
        }
    }
}
@media (max-width: 391px){
    header{
        .header-content{
            .header-main{
                .header-main-content{
                    justify-content: space-around;
                    width: auto;
                }
            }
        }
    }
    main{
        width: 390px;
        .main-column{
            width: 390px;
            .hero-section{
                display: none;
            }
            .featured-categories-container{
                width: 366px;
                margin: 0 auto;
                /* margin: 0 auto; */
                .featured-categories-container-nav{
                    flex-direction: column;
                    align-items: flex-start;
                    .left-right{
                        display: none;
                    }
                }
                .featured-categories-boxes-container{
                    .categories-box{
                        width: 171px;
                    }
                    .peach{
                        display: none;
                    }
                    .apple{
                        display: none;
                    }  
                }
            }
            .product-section{
                width: 366px;
                margin: 0 auto;
                .product-nav{
                    nav{
                        ul{
                            flex-wrap: wrap;
                        }
                    }
                }
                .products-container{
                    align-items: center;
                    .product{
                        width: 366px;
                        height: 514px;
                        img{
                            width: 314px;
                            height: 314px;
                        }
                        .product-content{
                            width: 310px;
                            .product-price{
                                justify-content: space-between;
                            }
                        }
                    }
                }
            }
        }
    }
    .daily-best-sells{
        width: 366px;
        margin: 0 auto;
        .daily-best-sells-nav{
            flex-direction: column;
            align-items: flex-start;
            gap: 10px;
        }
        .daily-best-sells-products-container{
            flex-wrap: wrap;
            .product{
                width: 366px;
                height: 590px;
                img{
                    width: 299px;
                    height: 299px;
                }
                .product-content{
                    width: 290px;
                    .product-price{
                        .sold{
                            .line{
                                width: 290px;
                            }
                        }
                        button{
                            width: 299px;
                        }
                    }
                }
            }
        }
    }
    .deals-of-day{
        width: 366px;
        margin: 0 12px;
        .deals-of-day-content{
            width: auto;
            .deals-of-day-heading{
                flex-direction: column;
                gap: 10px;
            }
            .deals-of-day-boxes-container{
                flex-wrap: wrap;
                gap: 140px;
                .deal-of-day{
                    width: 366px;
                    .countdown{
                        left: 70px;
                    }
                    .deal-of-day-info{
                        left: 30px;
                    }
                }
            }
        }
    }
    .top-trending-product{
        flex-direction: column;
        width: 366px;
        margin: 0 12px;
        gap: 10px;
        .top-seling{
            .top-seling-products-list{
                .top-seling-product{
                    .top-seling-product-text{
                        width: 240px;
                    }
                }
            }
        }
    }
    .newsttler{
        height: 266px;
        width: 366px;
        padding-top: 50px;
        padding-bottom: 300px;
        margin: 0 12px;
        .newsttler-content{
            height: 266px;
            img{
                width: 146px;
                height: 79px;
            }
            .newsttler-text{
                width: auto;
                section{
                    align-items: flex-start;
                    width: 326px;
                    h3{
                        font-size: 22px;
                    }
                    p{
                        font-size: 14px;
                    }
                }
            }
        }
    }
    .email{
        width: 326px;
    }
    .featured-boxes-container{
        width: 360px;
        flex-wrap: wrap;
        margin: 0 12px;
        justify-content: center;
        .featured-box{
            width: 366px;
            justify-content: center;
        }
    }
    footer{
        width: 366px;
        margin: 0 12px;
    }
}